body{
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right, #f0cf15e8, #ff0000);
  text-align: center;
  letter-spacing: 0.2rem;
  color: rgba(0, 0, 0, 0.5);
  top: 15%;
}

.title {
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-top: 5%;
}

.title2{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.color1, .color2{
  margin-bottom: 2%;
}

